/RMD_adaptation_task/QUEST_Run_Current/values/
/RMD_adaptation_task/QUEST_Run_Current/QuestSaves/
TAFCDots-Original/TAFCDotsData/
TAFCDots-Original/scriptRun.m~
TAFCDots-Original/configureTAFCDotsDur.m~
TAFCDots-Original/TAFCDotsLogic.m~
TAFCDots-Original/TAFCDotsMainDemo.m~
TAFCDots-Original/scriptRunValues/
.gitignore~
README.md~